<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timetablecarpenters.pocketcalendar">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketCalendar">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAaoyx0rOYoobFetCe34LdwVo6BLKp2HCU" />

        <activity android:name=".MapsActivity" />
        <activity android:name=".MapActivity"/>

        <receiver android:name=".UpComingEventsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/up_comming_events_widget_info" />
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/Theme.PocketCalendar.NoActionBar" />
        <activity
            android:name=".UpcomingEvents"
            android:label="Upcoming Events"
            android:theme="@style/Theme.PocketCalendar.NoActionBar" />
        <activity
            android:name=".DayActivity"
            android:label="Daily View"
            android:theme="@style/Theme.PocketCalendar.NoActionBar" />
        <activity
            android:name=".WeekActivity"
            android:label="Weekly View"
            android:theme="@style/Theme.PocketCalendar.NoActionBar" />
        <activity
            android:name=".MonthActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.PocketCalendar.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>